<html>
    <head>
        <title>Kira's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Kira's blog</a></h1>
        </div>

        <div>
            <p>published: 18.09.2018, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p> Бренность мира узрев, горевать погоди!</p>
	    <p>Верь: недаром колотиться сердце в груди.</p>
	    <p>Не горюй о минувшем: что было, то сплыло.</p>
	    <p>Не горюй о грядущем: туман впереди...</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>Чтоб мудро жизнь прожить, знать надобно немало.</p>
	    <p>Два важных правила запомни для начала:</p>
	    <p>Ты лучше голодай, чем что попало есть,</p>
	    <p>И лучше будь один, чем вместе с кем попало.</p>
        </div>
    </body>
</html>
